/* line 3, /Users/bstoecker/devcon4/elo_league/app/assets/stylesheets/general.css.scss */
.page-content {
  margin: 10px;
}

/* line 7, /Users/bstoecker/devcon4/elo_league/app/assets/stylesheets/general.css.scss */
a {
  text-decoration: none;
}

/*
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.hide { display: none; }*/
/* line 3, /Users/bstoecker/devcon4/elo_league/app/assets/stylesheets/header.css.scss */
.header {
  left: 0;
  right: 0;
  height: 60px;
  background-color: #009900;
}

/* line 10, /Users/bstoecker/devcon4/elo_league/app/assets/stylesheets/header.css.scss */
.header-elements {
  margin-right: 10px;
  margin-left: 10px;
  height: 60px;
}

/* line 16, /Users/bstoecker/devcon4/elo_league/app/assets/stylesheets/header.css.scss */
.header-title {
  float: left;
  vertical-align: middle;
}
/* line 1, /Users/bstoecker/devcon4/elo_league/app/assets/stylesheets/home.css.scss */
.splash-pic {
  heigt: 40px;
}
/*#leagues {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    top: 50px;
    left: 0;
    position: fixed !important;
    padding: 2em;
}

.m-league {
  display: block;
  color: white;
  text-align: center;
  position: relative;
}

.m-league-list .m-league {
  float: left;
  width: 240px;
  margin: 0 20px 20px 0;
}

.m-league.as-new .m-league--icon {
  margin-top: 40px;
  display: block;
  cursor: pointer;
}

.m-league .m-league--header {
  padding: 8px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  width: 100%;
  height: 75px;
  line-height: 18px;
}

.m-league .m-league--body {
  padding: 85px 10px 40px;
  height: 250px;
}

#new-league-btn {
  margin: 10px;
}
*/
/* Alternative Background Colours */
/*
.m-league-list {
  .m-league { color: #5e8b9a;; }
}


.m-league-list {
  .m-league .m-league--header { background: #76aec1; }
}


.m-league-list  {
  .m-league .m-league--body {
    background: #bad6e0;
  &:hover { background: darken(#bad6e0, 10%) }
  }
}*/
/* line 1, /Users/bstoecker/devcon4/elo_league/app/assets/stylesheets/users.css.scss */
.user-form-field {
  margin: 10px;
}
/*


 */
