<div class="header">
  <div class="header-title header-elements"> Elo-League </div>
  {{#link-to 'home' class="header-elements"}}
    Home
  {{/link-to}}
</div>

<div class="page-content">
  {{outlet}}
</div>