/*
 *= require_tree .
 *= require_self
 */

h1, h2, h3, p, a {
  font-family: helvetica, sans-serif;
} 
h1 {
  font-size: 27pt;
  font-weight: 300;
  color: #122C34;
}
h2 {
  font-size: 18pt;
  font-weight: 200;
  color: #82D173;
}
h3 {
  font-size: 16pt;
  font-weight: 200;
  color: #009900;  
}
p {
  font-size: 13pt;
  color: #122C34;
}
a {
  font-size: 13pt;
  color: #8E94F2;
}
a:hover {
  color: #D8DCFF;
}

.members {
  margin-bottom: 40px;  
}
.standing {
  margin-bottom: 20px;
}
.standing-table {
  margin-bottom: 10px;
}
.table-headings {
  color: #009900;
  margin: 0;
}


//#009900 green for header background and main action on white
//#D8DCFF pastel blue for link and main action on green
//#8E94F2 blue for hover and pushed
//#122C34 dark for text and outlines
//#82D173 brightgreen for logotext

