#leagues {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    top: 30px;
    left: 0;
    position: fixed !important;
}