#leagues {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    top: 50px;
    left: 0;
    position: fixed !important;
    padding: 2em;
}

.m-league {
  display: block;
  color: white;
  text-align: center;
  position: relative;
}

.m-league-list .m-league {
  float: left;
  width: 240px;
  margin: 0 20px 20px 0;
}

.m-league.as-new .m-league--icon {
  margin-top: 40px;
  display: block;
  cursor: pointer;
}

.m-league .m-league--header {
  padding: 8px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  width: 100%;
  height: 75px;
  line-height: 18px;
}

.m-league .m-league--body {
  padding: 85px 10px 40px;
  height: 250px;
}

#new-league-btn {
  margin: 10px;
}

/* Alternative Background Colours */

.m-league-list {
  .m-league { color: #5e8b9a;; }
}


.m-league-list {
  .m-league .m-league--header { background: #76aec1; }
}


.m-league-list  {
  .m-league .m-league--body {
    background: #bad6e0;
  &:hover { background: darken(#bad6e0, 10%) }
  }
}