<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Elo League</title>
        <%= javascript_include_tag params[:controller] %>
        <%= stylesheet_link_tag params[:controller] %>
    </head>
    <body>

        <div id="main-contents">
        </div>

    </body>
</html>
