<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Let's learn Ember.js</title>
    </head>
    <body>
        <div id="main-contents">
        </div>

        <script type="text/javascript">
          window.TIME_ZONE = '<%= Time.zone.tzinfo.name %>'
        </script>
    </body>
</html>